@charset "UTF-8";

.ad-Swiper {
  padding-top: 10px;
}
/* adoption-top */
.adoption {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 100px;
}

.adoption-top {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap:40px;
}
.adoption-title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  text-align: center;
  margin: 0 auto;
}
.adoption-button {
  width: 300px;
  margin-top: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 100px;
  background-color: rgba(112, 112, 112, 0.1);
  border-radius: 30px;
  padding: 20px;
}
.adoption-button p {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.adoption-button span i {
  font-size: 1.6rem;
}
.buttom-img {
  width: 2.5rem;
  height: 2.5rem;
  color: #333;
}
/* 펫 정보 */

.pet-from {
  position: relative;
  width: 100%;
}

.pet-fieldset {
  border: 1px solid #333; /* 검정색 테두리 설정 */
  padding: 10px 20px; /* 패딩 설정 */
}

.pet-name {
  width: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.pet-img {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.pet-image {
  width: 100%;
}
.inoculation {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #fd2bb7;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.pet-info {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
}
.pet-info-text-warp {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
}

.pet-info-text {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
.pet-note {
  padding: 2px 1px;
  width: 50%;
  color: #fff;
  background-color: #ffc000;
  font-size: 1.2rem;
  min-width: 75px;
}
.pet-note-infor {
  width: 60%;
  border-bottom: 1px solid #ffc000;
}
.pet-info-button {
  text-align: center;
  display: inline;
  font-size: 3rem;
}

.pet-button {
  font-size: 3rem;
}
/* 반응형 */

@media screen and (max-width: 768px) {
  .adoption {
    padding-top: 50px;
  }

  .adoption-title {
    margin-bottom: 30px;
    font-size: 5rem;
  }
  .inoculation {
    width: 30px;
    height: 30px;
  }
  .adoption-button {
    margin-bottom: 50px;
  }  .adoption-top{
    gap:0px;
  }
  .adoption-title p{
    font-size: 16px;
  }  .adoption-button p {
    font-size: 3rem;
  }
  .adoption-button span i{
    font-size:20px;
    padding-top:1px;
  }
  .buttom-img {
    width: 3rem;
    height: 3rem;
  }


@media screen and (max-width: 600px) {
  .adoption-button{
    width: 250px;
    padding:15px;
    align-items: flex-end;
  }
  .adoption-button span i{
    font-size: 16px;
    padding-top:0px;

  }
  .pet-fieldset {
    padding: 10px;
  }
  .pet-name {
    font-size: 4rem;
    overflow: auto;
  }

  .pet-fieldset {
    display: flex;
  }
  .pet-img {
    width: 40%;
  }
  .pet-info {
    width: 60%;
    padding: 10px;
  }
  .pet-info-text {
    font-size: 3rem;
  }
  .pet-note {
    padding: 5px 0;
    font-size: 3rem;
  }
  .pet-note-infor {
    padding: 5px 0;
  }
  .inoculation {
    padding: 4px;
    font-size: 3rem;
    line-height: 1;
    width: 34px;
    height: 34px;
  }
}
@media screen and (max-width: 400px) {
  .adoption-button{
    width: 200px;
    padding:12px;
    align-items: flex-end;
  }
  .adoption-title p{
    font-size: 14px;
    font-weight: 400;
  }
  .adoption-button span i{
    font-size: 14px;
    padding-top:0px;
  }
}