@charset "UTF-8";

.banner {
  /* margin-top: 310px; */
  margin-bottom: 100px;
  padding-top: 260px;
}
.banner-img {
  width: 100%;
  margin-bottom: 100px;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  margin: 0 auto;
  width: 30%;
  margin-bottom: 100px;
}

.banner-text img {
  width: 100%;
}

/* 쿠폰 */
.coupon {
  width: 60%;
  display: flex;
  margin: 0 auto;
}

.coupon img {
  width: 100%;
}
