@charset "UTF-8";

.banner {
  margin-bottom: 100px;
  padding-top: 260px;
  transition: all 0.5s;
}

.banner-img {
  width: 100%;
  margin-bottom: 100px;
}

.banner-img img {
  width: 100%;
  transform: scale(1.2);
}

.banner-text {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 100px;
}

.banner-text img {
  width: 100%;
}
.banner.bannerActive {
  padding: 0px;
  opacity: 0.5;
  transition: opacity 0.3s;
}
/* 쿠폰 */
.coupon {
  width: 90%;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

.coupon img {
  width: 100%;
}
