@charset "UTF-8";

.banner {
  margin-bottom: 100px;
  padding-top: 260px;
  transition: all 0.5s;
}

.banner-img {
  width: 100%;
  margin-bottom: 100px;
}

.banner-img img {
  width: 100%;
  transform: scale(1.2);
}

.banner-text {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 100px;
  
}

.banner-text img {
  width: 100%;
}
.banner.bannerActive {
  padding-top: 0px;
}
/* 쿠폰 */
.coupon {
  width: 90%;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

.coupon img {
  width: 100%;
}
/* 반응형 */

@media screen and (max-width: 1230px) {
  .banner-img,
  .banner-text {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    margin-bottom: 50px;
    padding-top: 190px;
  }
  .banner-img,
  .banner-text {
    margin-bottom: 50px;
  }
  .banner-text {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .banner-text {
    width: 80%;
  }
  .coupon {
    gap: 10px;
  }
  .banner .inner {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
}
