@charset "UTF-8";

.category {
  width: 100%;
}

.category-wrap {
  margin: 0 auto;
  width: 70%;
  display: flex;
  gap: 20px;
  margin-bottom: 200px;
}

.category-kind {
  width: calc((100% - 60px) / 4);
  margin: 0 auto;
}
.category-name {
  text-align: center;
}

.category-kind img {
  width: 100%;
}

.category-name {
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 0;
}
/* 반응형 */
@media screen and (max-width: 1230px) {
  .category-wrap {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .category-wrap {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .category-name {
    font-size: 3rem;
  }
  .category-wrap {
    width: 100%;
  }

  .coupon {
    flex-direction: column;
    width: 70%;
  }
}
