@charset "UTF-8";
* {
  transition: all 0.4s;
}
/* 푸터 배너 이미지(집) */
.footer-banner {
  width: 100%;
}
.footer-banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* 최하단 */
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */
}
.footer-bottom > .inner {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 회사정보 */
.footer-left {
  width: 50%;
  /* background-color: pink; */
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-left > img {
  width: 80px;
  margin: 0 auto;
  object-fit: contain;
}
.footer-left > ul {
  width: 70%;
  color: rgba(77, 76, 76, 0.705);
  line-height: 25px;
  font-size: 1.2rem;
}
/* 고객센터 */
.footer-cs {
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 20px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  gap: 30px;
}
.csTxt {
  width: (30% / 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-cs > .csTxt > p:first-of-type {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(77, 76, 76);
}
.footer-cs > .csTxt > p:nth-child(2) {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffc000;
  margin: 10px 0;
}
.csTime {
  width: (30% / 2);
  color: rgb(77, 76, 76);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}