@charset "UTF-8";
.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 0.5s;
}

/*헤더 js적용 */

.header.active .header-top {
  height: 100px;
  transition: all 0.5s;
}
.header.active .header-logo {
  transition: all 0.5s;
  width: 100px;
  padding: 15px 0;
}
.header.active .header-bar {
  height: 30px;
}

.header.active .header-menu-name {
  font-size: 1.5rem;
  line-height: 30px;
}

.header.active .header-bar-icon {
  font-size: 1.5rem;
  letter-spacing: 1.5rem;
}

.header.active .header-menu-submenu {
  top: 30px;
}

/* 
.header.active .header-menu-submenu {
  top: 0;
} */
/* 헤더 탑 */
.header-top {
  position: relative;
  transition: all 0.5s;
  height: 200px;
  background-color: #fff;
  width: 100%;
}
.header-logo {
  transition: all 0.5s;
  width: 200px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-logo img {
  width: 100%;
}

/* 헤더 바 */
.header-bar {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #ffc000;
}

.header-bar > .inner {
  height: 100%;
  position: relative;
}

/* 헤더바 왼쪽 */

.header-bar-left {
  position: relative;
  width: 60%;
  height: 100%;
}
.header-menu {
  width: 100%;
  display: flex;
  position: relative;
}
.header-menu-kind {
  width: calc(100% / 4);
}

.header-menu-name {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 60px;
}

.header-menu-submenu {
  width: calc(100% / 4);
  position: absolute;
  top: 60px;
  display: none;
  background-color: #fddb769a;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: opacity 0.5s, visibility 0.5s, top 0.5s, max-height 0.5s;
  line-height: 40px;
}

.header-menu-kind:hover .header-menu-submenu {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
}
.header-submenu-inner {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

/* 헤더바 오른쪽  아이콘 */
.header-bar-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header-bar-icon {
  font-size: 2rem;
  letter-spacing: 2rem;
}
/* 모바일 메뉴바 */
.mb-menu-bar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25px;
  display: none;
}
.mb-menu-bar img {
  width: 100%;
}
.mb-header {
  display: none;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .mb-menu-bar {
    display: block;
  }
  .header-bar-right {
    display: none;
  }
  .header-top {
    height: 150px;
  }

  .header-logo {
    width: 150px;
  }
  .header-bar {
    height: 40px;
  }
  .header-menu-name {
    line-height: 40px;
  }
  .header-menu-submenu {
    position: absolute;
    top: 40px;
    line-height: 30px;
  }
}


@media screen and (max-width: 600px) {
  .header {
    display: none;
  }

  /* 모바일 헤더-600 */

  .mb-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .mb-logo {
    width: 70%;
    text-align: center;
    color: #ffc000;
    font-size: 6rem;
    font-weight: 1000;
  }
  .mb-menu {
    width: 20px;
    height: 20px;
  }

  .mb-menu img {
    width: 100%;
  }
}
