@charset "UTF-8";

.join {
  width: 100%;
  height: 300px;
}
.join > .inner{
  width: 70%;
}
.join-content{
  width: 100%;
  height: auto;
  background: url("../images/joinbt.jpg") no-repeat center;
  background-size: cover;
}