@charset "UTF-8";

.join{
  width: 100%;
}
.join-wrap{
  width: 100%;
  height: auto;
  position: relative;
}
.join-wrap img{
  width: 69.4vw;
  /* height: 38vh; */
}
.join-content{
  width: 40%;
  display: flex;
  position: absolute;
  top: 30%;
  left:15%;
  flex-direction: column;
  /* background-color: pink; */
}
.join-text{
  font-size:1.7vw;
  font-weight: bolder;
  color: #fff;
}
.join-content > a{
  width: 30%;
  color: #fff;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  padding: 5%;
  margin: 5% 0;
  border-radius: 40px;
  background-color: #ffc000;
}
