@charset "UTF-8";
@import url("font.css");
/* 메인페이지 카테고리 공통스타일 */
/* 메인 카테고리별 배너이미지(gif) */
.product-top img {
  width: 100%;
  margin: 0 auto;
}
/* 카테고리 배너 하단 text, 상품리스트(슬라이드) */
.product-info {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
/* 카테고리 배너 하단 왼쪽 Text 상자 */
.product-text {
  width: 30%;
  text-align: left;
}
.product-text > h1 {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.product-text > p {
  width: 90%;
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

/* 메인 카테고리 배너 하단 오른쪽 슬라이드 */
.productSlide {
  width: 70%;
  padding: 10px;
  height: 100%;
}
.productSlide > .swiper-wrapper > .swiper-slide > a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.swiper-slide {
  line-height: 2rem;
}
.swiper-slide > h4 {
  height: auto;
  font-size: 2rem;
  font-weight: 600;
  margin: 25px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.swiper-slide > p {
  font-size: 1.5rem;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  letter-spacing: 0.1rem;
  text-decoration: line-through;
}
.swiper-slide > p:first-of-type {
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 40px;
  text-decoration: none;
}
.swiper-slide > p:last-of-type {
  color: rgb(226, 5, 5);
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  margin-top: 3px;
}
.productSlide > .swiper-wrapper > li > a > img {
  width: 100%;
}
.product-button {
  width: 100%;
  text-align: center;
  height: auto;
  margin: 150px auto;
}
.product-button > a {
  width: 50%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #ffc000;
  text-align: center;
  /* border: 1px solid#5f5f5fc4; */
  border-radius: 40px;
  padding: 20px 45px;
  margin: 0 auto;
}
.product-button > a > i {
  color: #fff;
  padding-left: 20px;
}

/* 반응형 */
@media screen and (max-width: 1400px) {
  .product-text > h1 {
    font-size: 4.5rem;
  }
  .product-text > p {
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: 2rem;
  }
  .swiper-slide > h4 {
    margin: 20px 0;
  }

  .swiper-slide > p:first-of-type {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .swiper-slide > p:nth-last-of-type(2) {
    width: calc(100% / 2);
    display: inline;
    float: left;
    font-size: 1.5rem;
  }
  .swiper-slide > p:last-of-type {
    width: calc(100% / 2);
    display: inline;
    float: right;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
  .swiper-slide > p > span {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .product-text > h1 {
    font-size: 3rem;
  }
  .product-text > p {
    font-size: 1.8rem;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .swiper-slide > p:nth-last-of-type(2) {
    font-size: 1.3rem;
  }
  .swiper-slide > p:last-of-type {
    font-size: 1.3rem;
  }
  .product-button {
    margin: 80px auto;
  }
  .product-button a {
    padding: 15px 30px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .product-text > h1 {
    font-size: 3.4rem;
  }
  .product-text > p {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .product-button {
    margin: 50px auto;
  }
  .swiper-slide > p:first-of-type {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .product-info {
    flex-direction: column;
  }
  .product-text {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .productSlide {
    width: 100%;
  }

  .product-text > h1 {
    font-size: 4rem;
    margin: 10px 0;
  }
  .product-text > p {
    font-size: 2.5rem;
    line-height: 1.5;
  }
  .swiper-slide > h4 {
    font-size: 3rem;
    margin: 5px 0; /* 상하 패딩 줄이기 */
    background-color: #ffc000;
    padding: 5px; /* 패딩 추가 */
  }
  .swiper-slide > p:first-of-type {
    margin-top: 10px;
    font-size: 3.5rcap;
  }
}
@media screen and (max-width: 400px) {
  .product-text > h1 {
    font-size: 3.5rem;
  }

  .product-text > p {
    line-height: 12px;
    letter-spacing: 0px;
  }

  .swiper-slide > h4 {
    margin: 15px 0;
    background-color: #ffc000;
  }
  .swiper-slide > p:first-of-type {
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: aqua;
  }
}
