@charset "UTF-8";
@import url("font.css");
/* 메인페이지 카테고리 공통스타일 */
/* 메인 카테고리별 배너이미지(gif) */
.product-top img {
  width: 100%;
  margin: 0 auto;
}
/* 카테고리 배너 하단 text, 상품리스트(슬라이드) */
.product-info {
  width: 100%;
  display: flex;
}
/* 카테고리 배너 하단 왼쪽 Text 상자 */
.product-text {
  /* background-color: aquamarine; */
  width: 25%;
  text-align: left;
  padding: 15px 0;
}
.product-text > h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 10px 0;
}
.product-text > p {
  width: 90%;
  font-size: 1.8rem;
  line-height: 20px;
  letter-spacing: 2px;
}
.product-text > p {
  margin-bottom: 30px;
}
/* 메인 카테고리 배너 하단 오른쪽 슬라이드 */
.productSlide {
  width: 70%;
  /* background-color: pink; */
  padding: 10px;
  height: 100%;
}
.productSlide > .swiper-wrapper > .swiper-slide > a{
  width:calc(70% / 3);
  height: auto;
  position: relative;
}
.productSlide > .swiper-wrapper > .swiper-slide > a > .tag{
  width: 20%;
  position: absolute;
  top:-120px;
  right:0;
}
.productSlide > .swiper-wrapper > .swiper-slide > a > .tag > img{
  width:100%;
}
.swiper-slide {
  line-height: 2rem;
}
.swiper-slide > h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: 25px 0;
}
.swiper-slide > p {
  font-size: 1.6rem;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  letter-spacing: 0.1rem;
  text-decoration: line-through;
}
.swiper-slide > p:first-of-type {
  text-align: left;
  margin-top:30px;
  margin-bottom: 40px;
  text-decoration:none;
}
.swiper-slide > p:last-of-type {
    color:rgb(226, 5, 5);
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration:none;
}
.productSlide > .swiper-wrapper > li > a > img {
  width: 100%;
}
.product-button{
  width: 100%;
  text-align: center;
  height: auto;
  /* background-color: pink; */
  margin: 100px auto;
}
.product-button > a{
  width: 50%;
  color:#2e2e2ec4;
  font-size: 1.8rem;
  font-weight: bold;
  /* background-color: aqua; */
  text-align: center;
  border: 1px solid#5f5f5fc4;
  border-radius: 40px;
  padding:20px 45px;
  margin: 0 auto;
}
.product-button > a > i {
  color: #5f5f5fc4;
  padding-left: 20px;
}